@font-face {
    font-family: 'Geist Mono';
    src: url('geist-font-1.5.0/fonts/GeistMono/webfonts/GeistMono-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('geist-font-1.5.0/fonts/GeistMono/webfonts/GeistMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('geist-font-1.5.0/fonts/GeistMono/webfonts/GeistMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
